/Zerbitzu/JavaApplication10/nbproject/private/
/Zerbitzu/AzterketaAriketak/nbproject/private/
/Zerbitzu/AzterketaAriketak/build/
/Zerbitzu/Ariketa2/nbproject/private/
/Zerbitzu/Ariketa2/build/
/Zerbitzu/Ariketa3_Impresora_Compartida/nbproject/private/
/Zerbitzu/Ariketa3_Impresora_Compartida/build/
/Zerbitzu/Ariketa3_Lista_Compartida/nbproject/private/
/Zerbitzu/Ariketa3_Lista_Compartida/build/
/Zerbitzu/Ariketa5_Inventario_Compartido/nbproject/private/
/Zerbitzu/Ariketa5_Inventario_Compartido/build/
/Zerbitzu/Ariketa6_Productor-Consumidor(simple)/nbproject/private/
/Zerbitzu/Ariketa6_Productor-Consumidor(simple)/build/
/Zerbitzu/Ariketa7_Aparcamiento_Compartido/nbproject/private/
/Zerbitzu/Ariketa8_Cola_De_Impresión/nbproject/private/
/Zerbitzu/Ariketa8_Cola_De_Impresión/build/
/Zerbitzu/Ariketa6_(Cocinero-camarero)_Semaforos/nbproject/private/
/Zerbitzu/Panaderia_con_mostrador_limitado/nbproject/private/
/Zerbitzu/Panaderia_con_semaforos/nbproject/private/
/Zerbitzu/Ariketa6__Cocinero-camarero__Semaforos/nbproject/private/
/Zerbitzu/Ariketa6_Productor-Consumidor_simple_/nbproject/private/
/Zerbitzu/Ariketa7_Aparcamiento_Compartido_1/nbproject/private/
/Zerbitzu/Ariketa8_Cola_De_Impresi_n/nbproject/private/
/Zerbitzu/Panaderia_con_mostrador_limitado_1/nbproject/private/
/Zerbitzu/Panaderia_con_semaforos_1/nbproject/private/
/Zerbitzu/Concurrent_Counter/nbproject/private/
